//-
  options.name - название стрелки ("arrow_forward", "keyboard_arrow_down")
  options.color - цвет стрелки ('gradient', 'white')
  
  

mixin arrow(options)
  if !options
        - options = {}
  -
        var classes = '';
        classes += options.name ? ' ' +  options.name : '';
        classes += options.color ? ' arrow_' +  options.color : '';
  
  div.arrow(class=classes)
    i.material-icons #{options.name}