extends ../main/main

include ../../components/logo/logo
include ../../components/header/header
include ../../components/footer/footer

block title 
  | Headers&footers

block content
  section.headers-and-footers
    +logo({imgType: "pages"})
    .pp-header-bottom-margin
      +header({isAuth: false,
        listItems: ["Home", "About Us", "Services", "Careers", "News", "Documentation"],
        links: ["/change/me", "/change/me", "/change/me", "/change/me", "/change/me", "/change/me"],
        adds: ["active", "", "services", "", "", ""],
        loginText: "login",
        regText: "register",
        isRus: false
      })
    .pp-header-bottom-margin
      +header({
        isAuth: true,
        listItems: ["Home", "About Us", "Services", "Careers", "News", "Documentation"],
        links: ["/change/me", "/change/me", "/change/me", "/change/me", "/change/me", "/change/me"],
        adds: ["active", "about", "services", "", "", ""],
        loginText: "login",
        regText: "register",
        isRus: false
      })
    .field_bigMargin
      +footer({
        logoText: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.",
        navItems: ["Navigation", "About Us", "News", "Support", "Products"],
        navLinks: ["/change/me", "/change/me", "/change/me", "/change/me", "/change/me"],
        aboutItems: ["About us", "Who we are", "Our team", "Careers", "Investors"],
        aboutLinks: ["/change/me", "/change/me", "/change/me", "/change/me", "/change/me"],
        supportItems: ["Support", "Documentation", "Community", "Get in touch"],
        supportLinks: ["/change/me", "/change/me", "/change/me", "/change/me", "/change/me"],
        subscrTitle: "subcribe to our newsletter",
        subscrText: "Receive our latest news and promotion in your inbox",
        copyrightText: "Copyright 2018 Toxin UI Kit. All rights reserved.",
        isUiKit: true
      })