@import '../../styles/vars';
@import '../../styles/mixins';
@import '../../styles/fonts';

.headers-and-footers {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 130px;
  background: #F4F4F6;
  & .logo {
    position: absolute;
    left: 30px;
    top: 30px;
  }
}

.header-eng {
  & .button_filled {
    padding-left: 19px;
    padding-right: 20px;
  }
  & .button_transp {
    padding-right: 3px;
    letter-spacing: .9px;
  }
}

.pp-header-bottom-margin {
  margin-bottom: 40px;
}