//-
  options.text - текст кнопки
  options.size - размер ('', 'small', 'big')
  options.type - тип ('filled', 'transp', 'wthBoder')
  options.isHovered - наведение курсора (bool)

mixin like-button(options)

  if !options
    - options = {}

  -
    const {value, btn_class="", icon_name} = options

  div(class="like-button " + btn_class)
    <i class="material-icons like-button__heart">#{icon_name}</i>
    span.like-button__value #{value}