@import '../../styles/vars';

.roomInfo-title {
  font-family: 'Montserrat-Bold';
  line-height: 18px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.roomInfo-title_right {
  margin-right: -2px;
  line-height: 17px;
}

.room-number {
  margin-right: 5px;
  display: inline-block;
}

.number {
  font-family: 'OpenSans-Bold';
  color: $shade100-color; 
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;
}

.pp-number {
  font-size: 18px;
  letter-spacing: 1px;
}

.room-class {
  font-size: 12px;
  line-height: 15px;
  color: $purple-color;
}

.pp-room-class {
  font-size: 14px;
}

.room-price {
  color: $shade50-color;
  font-size: 11px;
  letter-spacing: .1px;
  & strong {
    font-size: 14px;
  }
}