//-
    options.number - room number
    options.class - room class
    options.price - room price

mixin roomInfo-title(options)

    if !options
        - options = {}

    .roomInfo-title
        .roomInfo-title_left
            .room-number
                span №&nbsp;
                span.number #{options.number}
            span.room-class #{options.class}
        .roomInfo-title_right
            span.room-price #{options.price}&#8381; в сутки