include ../../components/arrow/arrow

mixin menu()
    ul.standart-nav__menu
        li.active Home
        li About us
        li.services Services
            i.material-icons keyboard_arrow_down
        li Careers
        li News
        li Documentation
    i.material-icons dehaze