@import '../../styles/vars';
@import '../../styles/mixins';

.elem-title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: $shade100-color;
  font-family: 'Montserrat-Bold';
  display: block;
  margin-bottom: 5px;
} 