@import '../../styles/vars';
@import '../../styles/mixins';
@import '../../styles/fonts';

.cards {
  @include size(1440px, 1350px);
  padding: 150px 140px 140px;
  background-color: #E5E5E5;
  position: relative;
  display: flex;
  justify-content: space-between;
  & .logo {
    position: absolute;
    left: 30px;
    top: 30px;
  }
  & .arrow{
    z-index: 1;
    cursor: text;
  }
  &__column {
    display: flex;
    flex-direction: column;
  }
  &__roomInfo {
    margin-bottom: 40px;
  }
}

.card {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 29px 30px;
  position: relative;
  width: 380px;
  margin-bottom: 40px;
  &__title {
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
    margin-bottom: 20px;
    font-family: 'OpenSans-Bold';
    margin-bottom: 20px;
  }
  @media screen and (max-width: 420px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.card__input {
  margin-bottom: 10px;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    font-size: 14px;
    line-height: 18px;
  }
}

.datepicker-wrap {
  position: relative;
  display: inline-block;
}

.pp-card-reg {
  padding-top: 39px;
  padding-bottom: 29px;
}

.pp-card-booking {
  padding-top: 49px;
}

.pp-card-enter {
  padding-top: 38px;
}

.pp-card__input {
  margin-bottom: 11px;
}

.pp-card__input2 {
  margin-bottom: 9px;
}

.pp-card__input2 {
  margin-bottom: 9px;
}

