//-
  options.listItems (array) - array of list items
  options.isAuth (bool) - guest authorized or not
  options.isRus (bool) - header in Russian or not
  options.links (array) - array of list items links
  options.loginText (string) - text of login button
  options.regText (string) - text of registration button
  options.adds (array) - array of additional classes
  

include ../../components/logo/logo
include ../../components/menu/menu
include ../../components/button/button


mixin header(options)
    if !options
        - options = {}
    -
        let classes = '';
        classes += options.isRus ? " header-rus" : '';

    header.header(class=classes)
        +logo({imgType: 'h&f'})
        .standart-nav
            +menu({listItems: options.listItems, links: options.links, adds: options.adds, isRus: true})
            if options.isAuth
                .username Cosmin Negoita
            else
                .enter-buttons
                    +button({text: options.loginText, type: 'transp', size: ''})
                    +button({text: options.regText, type: 'fill', size: ''})
                i.material-icons perm_identity
