@import '../../styles/vars';
@import '../../styles/mixins';

.header {
  height: 70px;
  background: #fff;
  width: 100%;
  padding-left: 9.7%;
  padding-right: 9.7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 20px $shade5-color;
  @media screen and (max-width: 915px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  & .enter-buttons {
    display: flex;
    @media screen and (max-width: 420px) {
      display: none;
    }
  }
  & .enter-buttons+i {
    display: none;
    @media screen and (max-width: 420px) {
      display: inline-block;
      color: $purple-color;
      font-size: 40px;
    }
  }
  & .transp-wrap {
    margin-right: 20px;
  }
  & .standart-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  & .username {
    padding-left: 30px;
    border-left: 1px solid $shade25-color;
    color: $shade25-color;
  }
  & .transp-wrap {
    @include size(79px, 34px)
  }
  & .button_transp {
    @include size(74px, 30px)
  }
  & .button_fill {
    @include size(101px, 34px)
  }
}

.header-rus {
  @media screen and (max-width: 998px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  & .button_transp {
    width: 83px;
  }
  & .transp-wrap {
    width: 87px;
    @media screen and (max-width: 1130px) {
      margin-right: 10px;
    }
  }
  & .button_fill {
    width: 196px;
  }
}