@import "../../styles/vars";
@import "../../styles/mixins";

.room-images {
    display: flex;
    justify-content: center;
}

.images-item:first-child {
    width: 70.5%;
}

.images-item:last-child {
    width: 33%;
}

img {
    width: 100%;
}

.images-item__small {
    display: block;
}

.images-item__small:last-child {
    margin-top: -1px;
}

.room-content {
    padding-right: 9.7%;
    padding-left: 9.7%;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
}

.room-content__descr {
    flex: 0 0 64.66%;
    padding-right: 70px;
}

.room-content__calc {
    flex: 0 0 33.33%;
}

.description__title {
    font-family: "Quicksand-Bold", "OpenSans-Bold";
    font-size: 19px;
    line-height: 24px;
    color: $shade100-color;
    margin-bottom: 20px;
}

.number-info__item-wrap:first-child .number-info-item {
    padding-top: 0;
}

.description__row {
    display: flex;
    justify-content: space-between;
}

.description__impression {
    padding-left: 70px;
}

.pie-chart-wrap {
    display: flex;
    justify-content: space-between;
}

.legend {
    display: flex;
    flex-direction: column;
}

.comments-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.num-comments {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 14px;
    color: $shade50-color;
}

.rules {
    display: flex;
    justify-content: space-between;
}

.rules__left-block {
    flex-basis: 41%;
}

.rules__right-block {
    flex-basis: 48%;
}

.rules__text {
    font-size: 14px;
    line-height: 24px;
    color: $shade75-color;
}



