

mixin social()
    .social
        img.social__image(src="../../src/components/social/images/twitter-brands.svg")
        img.social__image(src="../../src/components/social/images/facebook-square-brands.svg")
        img.social__image(src="../../src/components/social/images/instagram-brands.svg")