

mixin social()
  .social
    img.social__image(src="../../assets/img/twitter-brands.svg")
    img.social__image(src="../../assets/img/facebook-square-brands.svg")
    img.social__image(src="../../assets/img/instagram-brands.svg")