extends ../layout/main

block variables
    - var title = 'Ui-kit';
    - var description = 'Ui-kit';
    - var pageClass = 'uikit-page';    


block content    
    section.colors-and-types
        +logo     
        .colors-list
            .color-item.colors-list__item
                +dark_item(100)
            .color-item.colors-list__item
                +dark_item(75)
            .color-item.colors-list__item
                +dark_item(50)
            .color-item.colors-list__item
                +dark_item(25)
            .color-item.colors-list__item                
                +dark_item(5)
            .color-item.colors-list__item
                +color_item("purple", "#BC9CFF")                
            .color-item.colors-list__item
                +color_item("green", "#6FCF97")
        .types-list
            .type-item.types-list__item
                +type_item("h1", "This one is sub-section or widget title")                
            .type-item.types-list__item
                +type_item("h2", "Next one is the item title inside widgets")
            .type-item.types-list__item
                +type_item("h3", "This is a label or cta text")
            .type-item.types-list__item
                +type_item("body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")
    
    section.form-elements
        .block
            div(class="field_smallMargin")
                +text-field("text field", "email", "block__input", "Email")
            div(class="field_smallMargin")
                +text-field("text field", "email", "block__input block__input_hover","This is pretty awesome")
            div(class = "select-wrap field_smallMargin" )
                +dropdown("dropdown", "field_big", "Сколько гостей", "guests-list")
                +arrow-down
            div(class="field_bigMargin")
                +text-field("masked text field", "text", "block__input block__input_date", "ДД.ММ.ГГГГ")
            div(class = "select-wrap field_bigMargin field_rightMargin")
                +dropdown("date dropdown", "field_small", "ДД.ММ.ГГГГ", "date-list")
            div(class = "select-wrap field_bigMargin")
                +dropdown("date dropdown", "field_small", "19.08.2019", "date-list")       
            div(class = "select-wrap field_bigMargin")
                +dropdown("filter date dropdown", "field_mid", "19 авг - 23 авг", "date-list")
            div(class="field_smallMargin")
                +text-field("subscription text field", "email", "block__input block__input_subscrition", "Email")
                +arrow-forward

        .form-elements__block.block
            div(class = "field_bigMargin")
                span.label-text.title-margin checkbox buttons
                +checkbox_expanded("additional-options", "", 2, "Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)")
            div(class = "field_bigMargin")
                span.label-text.title-margin radio buttons
                .radio-list
                    +radio_items("Мужчина", "Женщина")
            div(class = "field_bigMargin")
                span.label-text.title-margin toggle
                .spec-offer
                    input(type="checkbox" id="offer_on" name="offer_on")
                    label(for="offer_on" class="offer-label spec-offer__label") Получать спецпредложения
                    br
                    input(type="checkbox" id="offer_off" name="offer_off")
                    label(for="offer_off" class="offer-label_off offer-label spec-offer__label") Получать спецпредложения
            div(class = "field_bigMargin")
                span.label-text.title-margin like button
                br
                .like-buttons
                    +like_button(2, "", "favorite_border")
                    +like_button(12, "like-button_marked", "favorite")
            div(class = "field_bigMargin")
                span.label-text.title-margin rate button
                br
                .rate-buttons
                    .rate-buttons_left
                        +rate_buttons(4)
                    .rate-buttons_right
                        +rate_buttons(5)   

        .block
            .field_mid
                .range-slider__title
                    span.label-text range slider                
                    span.range-slider__values 5 000 &#8381; - 10 000 &#8381;
                .range-slider

        .block
            .block-with-pad
                div(class = "select-wrap field_smallMargin" )
                    +dropdown("dropdown", "field_mid", "2 спальни, 2 кровати...", "amenities-list")
                    +arrow-down
                div(class = "select-wrap")
                    +dropdown_expanded("dropdown", "2 спальни, 2 кровати...", "field_mid", "amenities-list", 0, "спальни", "кровати", "ванные комнаты")
                div(class = "select-wrap checkboxes block__checkboxes")
                    span.label-text expandable checkbox list
                    +arrow-down
                div(class = "select-wrap field_bigMargin checkboxes block__checkboxes_expanded")
                    label(for="input-title" class="label-text title-margin") expandable checkbox list
                    input(type="checkbox" id="input-title")
                    +arrow-down
                    +checkbox_expanded("additional-amenities", "", 1, "Завтрак", "Писменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь", "Телевизор", "Шампунь")
        
        .block.form-elements__block
            .block-with-pad
                div(class = "select-wrap block__select-guests select-expanded")
                    +dropdown_expanded("dropdown", "Сколько гостей", "field_big", "guests-list", 0, "взрослые", "дети", "младенцы")
                div(class="rich-checkbox")
                    span.label-text.title-margin rich checkbox buttons
                    +checkbox_expanded("accessibility", "label-access", 3, "Широкий коридор", "Помощник для инвалидов")
        
        .block
        
        .block
            div(class="number-information__list")
                +number-information__item("insert_emoticon", "Комфорт", "Шумопоглащающие стены")
                +number-information__item("location_city", "Удобство", "Окно в каждой из спален")            
        
        .block
            .block-with-two-cols
                +users-comments("image", 12, "marked", "favorite", "Мурад Сарафанов", "5 дней назад", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару - никто не жаловался из соседей ")



