extends ../layout/main

block variables
    - var title = 'Ui-kit';
    - var description = 'Ui-kit';
    - var pageClass = 'uikit-page';    


block content    
    section.colors-and-type.page-section
        +logo     
        .colors-list
            .colors-list__item
                +color-dark_item(100)
            .colors-list__item
                +color-dark_item(75)
            .colors-list__item
                +color-dark_item(50)
            .colors-list__item
                +color-dark_item(25)
            .colors-list__item                
                +color-dark_item(5)
            .colors-list__item
                +color_item("purple", "#BC9CFF")                
            .colors-list__item
                +color_item("green", "#6FCF97")
        .type-list
            .type-list__item
                .type-list__item_left.type-list__item_h1 h1
                .type-list__item_right.type-list__item_h1 This one is sub-section or widget title
            .type-list__item
                .type-list__item_left.type-list__item_h2 h2
                .type-list__item_right.type-list__item_h2 Next one is the item titleinside widgets
            .type-list__item
                .type-list__item_left.type-list__item_h3 h3
                .type-list__item_right.type-list__item_h3 This is a label or cta text
            .type-list__item
                .type-list__item_left.type-list__item_body Body
                .type-list__item_right.type-list__item_body This is the body text which is used for most of the design, like paragraphs, lists, etc.
