include ../../components/text-field/text-field
include ../../components/arrow/arrow
include ../../components/button/button

mixin form-enter()
    form.form-enter
        .card__title войти
        .card__input
            +text-field({type: "email", input_class: "input", placeholder_text: "Email"})
        .card__input
            +text-field({type: "password", input_class: "input", placeholder_text: "Пароль"})
        .field_midMargin
            +button({text: 'войти', type: 'filled', size: 'big'})
            +arrow({ name: "arrow_forward", color: "white"} )
        .account
            .account__text Нет аккаунта на Toxin?
            +button({text: 'создать', type: 'transp', size: 'small'})