@import "../../styles/vars";
@import "../../styles/mixins";

#pagination {
    & ul {
        display: flex;
        align-items: center;
        
    }
    & li {
        display: flex;
        align-items: center;
        @include size(40px);
        border-radius: 22px;
        justify-content: center;
    }
    & .active {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
}