@import '../../styles/vars';
@import '../../styles/mixins';

#pagination {
  margin-bottom: 8px;
  & ul {
    display: flex;
    align-items: center;
  }
  & li {
    display: flex;
    align-items: center;
    @include size(40px);
    border-radius: 22px;
    justify-content: center;
  }
  & .active {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #fff;
    font-size: 12px;
    line-height: 12px;
  }
  & .page-link {
    color: $shade50-color;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
  & .next {
    @include size(40px);
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
  }
}

.pagination {
  position: relative;
  padding-left: 1px;
}

.pagination .arrow {
  top: -2px;
  right: -2px;
  z-index: 1;
}

.pagination-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 5px;
}