@import "../../styles/vars";

.room-info {
    font-family: "Montserrat-Bold";
    line-height: 18px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__number {
        margin-right: 5px;
        display: inline-block;
    }
}

.room-number {
    font-family: "OpenSans-Bold";
    color: $shade100-color; 
    font-size: 26px;
    line-height: 10px;
    font-weight: bold;
}

.room-class {
    font-size: 12px;
    line-height: 15px;
    color: $purple-color;
}

.room-price {
    color: $shade50-color;
}