//-
	options.imgType (string) - logo type (pages, h&f, h&f_mobile)

mixin logo(options)
	if !options
		- options = {}	
	-
		let classes = '';
		classes += options.imgType ? 'logo-' + options.imgType : '';
	if (classes == "logo-pages")
		.logo
			img(src= '../../src/components/logo/images/logo-pages.svg'  alt="logo")
	else
		.logo__bg-img