//-
  options.imgType (string) - logo type (pages, h&f, h&f_mobile)
  options.isFooter - logo in footer or not

mixin logo(options)
  if !options
    - options = {}	
  -
    let classes = '';
    classes += options.imgType ? 'logo-' + options.imgType : '';
  if (classes == "logo-pages")
    .logo
      img(src= "../../assets/img/logo-pages.svg"  alt="logo")
  else
    if (options.isFooter)
      .footer-logo__bg-img
    else
      .logo__bg-img
