include ../../components/text-field/text-field
include ../../components/radio-items/radio-items
include ../../components/checkbox-offer/checkbox-offer
include ../../components/arrow/arrow
include ../../components/button/button
include ../../components/elem-title/elem-title

mixin form-registration()
    form.form-registration
        .card__title Регистрация аккаунта
        .card__input
            +text-field({type: "text", input_class: "input", placeholder_text: "Имя"})
        .card__input
            +text-field({type: "text", input_class: "input", placeholder_text: "Фамилия"})
        .field_smallMargin
            +radio-items("Мужчина", "Женщина")
        .field_smallMargin
            +elem-title("дата рождения")
            +text-field({type: "text", input_class: "input input_date", placeholder_text: "ДД.ММ.ГГГГ"})
        .field_smallMargin
            +elem-title("данные для входа в сервис")
            .card__input
                +text-field({type: "email", input_class: "input", placeholder_text: "Email"})
            .card__input
                +text-field({type: "password", input_class: "input", placeholder_text: "Пароль"})
            +checkbox-offer("")
        .field_midMargin
            +button({text: 'перейти к оплате', type: 'filled', size: 'big'})
            +arrow({ name: "arrow_forward", color: "white"} )
        .account
            .account__text Уже есть аккаунт на Toxin
            +button({text: 'войти', type: 'transp', size: 'small'})
