@import '../../styles/mixins';

.signin-page {
  & .card__title {
    font-size: 22px;
    letter-spacing: 1px;
  }
  & .card {
    padding-top: 39px;
    padding-bottom: 33px;
  }
  & .field_midMargin {
    margin-bottom: 29px;
  }
}

.signin-page__content {
  padding: 163px 5px 123px 5px;
  background-image: url('../../assets/img/sign-image-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.signin-content {
  @include size(100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}