@import '../../styles/vars';
@import '../../styles/mixins';
@import '../../styles/fonts';

.footer {
  background: #fff;
  width: 100%;
  padding-left: 9.7%;
  padding-right: 9.7%;
  padding-top: 100px;
  position: relative;
  @media screen and (max-width: 1439px) {
    padding-top: 3%;
  }
  & .elem-title {
    margin-bottom: 20px;
    font-size: 11px;
    letter-spacing: .7px;
  }
  & li {
    margin-bottom: 20px;
  }
  & .footer-content__list {
    margin-top: 4px;
    @media screen and (max-width: 1439px) {
      margin-right: 0;
    }    
    @media screen and (max-width: 700px) {
      display: none;
    }
  } 
}

.headers-and-footers__footer {
  height: 443px;
  @media screen and (max-width: 700px) {
    height: 367px;
    padding: 100px 0 110px 0;
  }
  & .copyrights {
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
}

.footer-eng .aboutus .footer-list__link {
  letter-spacing: -.15px;
}

footer.footer-rus {
  @media screen and (max-width: 1200px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  & .footer__block:nth-child(2) {
    @media screen and (max-width: 1439px) {
      margin-right: 0;
    }
  }
  & .footer__block:nth-child(3) ul {
    margin-right: 57px;
    & li:last-child {
      margin-bottom: 0;
    }
    @media screen and (max-width: 1439px) {
      margin-right: 0;
    }
  }
  & .footer__block:nth-child(4) ul {
    margin-right: 92px;
    @media screen and (max-width: 1439px) {
      margin-right: 0;
    }
    & li:last-child {
      margin-bottom: 0;
    }
  }
  & .footer__block:nth-child(5) ul {
    margin-right: 53px;
    @media screen and (max-width: 1439px) {
      margin-right: 0;
    }
  }
  & .footer-content {
    @media screen and (max-width: 1439px) {
      justify-content: space-between;
    }
    @media screen and (min-width: 1441px) {
      justify-content: center;
    }
  }
  & .footer-list li:nth-child(3) {
    margin-bottom: 17px;
  }
  & .logo-content {
    letter-spacing: 0;
  }
  & .footer__block {
    margin-bottom: 98px;
  }
  & .copyrights {
    padding-top: 1px;
  }
  & .copyrights__text {
    letter-spacing: -.1px;
  }
}

.footer__block:nth-child(2) {
  margin-right: 41px;
}

.footer__block:nth-child(3) ul {
  margin-right: 118px;
  & li:last-child {
    margin-bottom: 0;
  }
}

.footer__block:nth-child(4) ul {
  margin-right: 118px;
  & li:last-child {
    margin-bottom: 0;
  }
}

.footer__block:nth-child(5) ul {
  margin-right: 90px;
}

.footer-content {
  display: flex;
  align-items: top;
  flex-wrap: wrap;
}

.footer-list li:nth-child(2) {
  letter-spacing: -.2px;
  margin-bottom: 19px;
}

.footer-list li:nth-child(3) {
  margin-bottom: 19px;
}

.footer-list li:nth-child(4) .footer-list__link {
  font-size: 12px;
  letter-spacing: 1.3px;
}

.footer-list li:nth-child(4) {
  margin-bottom: 19px;
}

.footer-list li:nth-child(5) .footer-list__link {
  font-size: 12px;
  letter-spacing: 1.3px;
}

.footer-content__line {
  top: 0;
}

.footer-list__link {
  font-size: 14px;
  line-height: 17px;
  color: $shade50-color;
}

.footer__block {
  margin-bottom: 100px;
  & .subscription__content {
    margin-bottom: 21px;
  }
  & .arrow {
    top: 0;
    z-index: 0;
  }
  & input {
    width: 260px;
  }
  @media screen and (max-width: 1439px) {
    margin-bottom: 25px;
  }
}

.footer__block:first-child {
  margin-right: 40px;
  @media screen and (max-width: 1439px) {
    margin-right: 0;
  }
}

.footer-logo {
  @media screen and (max-width: 1020px) {
    width: 100%;
  }
  & .pp-footer-logo-bottomMargin {
    margin-bottom: 17px;
    @media screen and (max-width: 1020px) {
      display: flex;
      justify-content: center;
    }
  }
}

.logo-content {
  width: 260px;
  font-size: 14px;
  line-height: 24px;
  color: $shade75-color;
  letter-spacing: -.1px;
  @media screen and (max-width: 1020px) {
    width: 560px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  @media screen and (max-width: 560px) {
    width: 320px;
  }
  @media screen and (max-width: 420px) {
    width: 90%;
  }
}

.navigation .elem-title {
  font-size: 10px;
  letter-spacing: 1.4px;
}

.subscription {
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.input_subscription {
  padding-bottom: 2px;
}

input.input_subscription::-moz-placeholder {
  font-size: 13px;
  letter-spacing: .6px;
}

input.input_subscription::-webkit-input-placeholder {
  font-size: 13px;
  letter-spacing: .6px;
}

.subscription .elem-title {
  margin-top: 4px;
  margin-bottom: 18px;
}

.subscription__content {  
  color: $shade50-color;
  width: 260px;
  font-size: 13px;
  letter-spacing: .6px;
  line-height: 25px;
}

.line {
  @include size(100%, 1px);
  background-color: $shade5-color;
  position: absolute;
  left: 0;
}

.copyrights {
  background: #fff;
  @include size(100%, 74px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -3px;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
  }
}

.copyrights__line {
  bottom: 69px;
  @media screen and (max-width: 600px) {
    position: static;
    order: 1;
  }
}

.copyrights__text {
  font-size: 14px;
  color: $shade75-color;
  letter-spacing: .2px;
  @media screen and (max-width: 600px) {
    order: 3;
  }
  @media screen and (max-width: 420px) {
    text-align: center;
  }
}

.copyrights__social {
  margin: 21px 3px 20px 21px;
  @media screen and (max-width: 600px) {
    order: 2;
  }
}
