@import '../../styles/vars';
@import '../../styles/mixins';

.bullet-list {
  width: 253px;
}

.bullet-list__item {
  position: relative;
  padding-left: 22px;
  font-size: 12px;
  line-height: 24px;
  color: $shade75-color;
  margin-bottom: 12px;
  &:first-child {
    letter-spacing: 1.3px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  &:nth-child(2) {
    letter-spacing: 1.3px;
    margin-bottom: 10px;
  }
  &:nth-child(3) {
    font-size: 13px;
    letter-spacing: .8px;
  }
}

.bullet-list__item:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  @include size(10px);
  background-color: $shade25-color;
  border-radius: 50%;
}