@import '../../styles/vars';
@import '../../styles/mixins';

.button_small {
  @include size(99px, 44px);
}

button {
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding-left: 3px;
}

.pp-button {
  font-size: 11px;
  letter-spacing: .7px;
}

.button_filled, .button_transp {
  border-radius: 22px;
}

.button_filled {
  color: #fff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.button_hovered {
  opacity: 0.5;
  padding-left: 6px;
}

.button_transp {
  background-color: #fff;
  @include size(95px, 40px);
  color: $purple-color;
  opacity: 1;
}

.transp-wrap {
  @include size(99px, 44px);
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  display: flex;
  justify-content: center;
  align-items: center;    
}

.transp-wrap-hover {
  opacity: 0.5;
}

.button_wthBoder {
  color: $purple-color;
  letter-spacing: .3px;
  font-size: 12px;
}

.button_wthBoder:first-child {  
  letter-spacing: .3px;
  padding-right: 14px;
  padding-left: 2px;
}

.button_wthBoder .button_hovered {    
  color: $shade50-color;
}

.button_big {
  @include size(320px, 44px);
  padding-top: 1px;
  padding-left: 9px;
  font-size: 12px;
  letter-spacing: .8px;
  @media screen and (max-width: 420px) {
    width: 100%;
  }
}


