extends ../main/main

include ../../components/arrow/arrow
include ../../components/checkbox-expandable/checkbox-expandable 
include ../../components/checkbox-expanded/checkbox-expanded 
include ../../components/color-item/color-item 
include ../../components/comments-item/comments-item 
include ../../components/dropdown/dropdown
include ../../components/dropdown-expanded/dropdown-expanded
include ../../components/elem-title/elem-title 
include ../../components/like-button/like-button 
include ../../components/logo/logo 
include ../../components/number-info__item/number-info__item
include ../../components/radio-items/radio-items 
include ../../components/rate-buttons/rate-buttons 
include ../../components/text-field/text-field 
include ../../components/type-item/type-item
include ../../components/checkbox-offer/checkbox-offer
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/bullet-list/bullet-list


block title 
	| Form Elements

block content
	section.colors-and-types
		+logo({imgType: 'pages'})     
		.colors-list
			.colors-list__item
				+color-item("Dark Shade 100%", "#1F2041", "shade100")
			.colors-list__item
				+color-item("Dark Shade 75%", "#1F2041", "shade75")
			.colors-list__item
				+color-item("Dark Shade 50%", "#1F2041", "shade50")
			.colors-list__item
				+color-item("Dark Shade 25%","#1F2041", "shade25")
			.colors-list__item                
				+color-item("Dark Shade 5%", "#1F2041", "shade5")
			.colors-list__item
				+color-item("purple", "#BC9CFF", "purple")                
			.colors-list__item
				+color-item("green", "#6FCF97", "green")
		.types-list
			.types-list__item
				+type-item("h1", "This one is sub-section or widget title")                
			.types-list__item
				+type-item("h2", "Next one is the item title inside widgets")
			.types-list__item
				+type-item("h3", "This is a label or cta text")
			.types-list__item
				+type-item("body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")
	
	section.form-elements
		.block
			div(class="field_smallMargin")
				+elem-title("text field")
				+text-field({type: "email", input_class: "input", placeholder_text: "Email"})
			div(class="field_smallMargin")
				+elem-title("text field")
				+text-field({type: "email", input_class: "input input_hover", placeholder_text: "This is pretty awesome"})
			div(class = "field_smallMargin" )
				+elem-title("dropdown")
				+dropdown({label_wrap: "field_big", label_text: "Сколько гостей", list_name: "guests-list"})
				+arrow({ name: "keyboard_arrow_down", color: "black"})
			div(class="field_bigMargin")
				+elem-title("masked text field")
				+text-field({type: "text", input_class: "input input_masked", placeholder_text: "ДД.ММ.ГГГГ"})
			div(class = "select-wrap field_bigMargin field_rightMargin")
				+elem-title("date dropdown")
				+dropdown({label_wrap: "field_small", label_text: "ДД.ММ.ГГГГ", list_name: "date-list"})
				+arrow({ name: "keyboard_arrow_down", color: "black"})
			div(class = "select-wrap field_bigMargin")
				+elem-title("date dropdown")
				+dropdown({label_wrap: "field_small", label_text: "19.08.2019", list_name: "date-list"})
				+arrow({ name: "keyboard_arrow_down", color: "black"})
			div(class = "select-wrap field_bigMargin")
				+elem-title("filter date dropdown")
				+dropdown({label_wrap: "field_mid", label_text: "19 авг - 23 авг", list_name: "date-list"})
				+arrow({ name: "keyboard_arrow_down", color: "black"})
			div(class="field_mid")
				+elem-title("subscription text field")
				+text-field({type: "email", input_class: "input input_subscription", placeholder_text: "Email"})
				+arrow({ name: "arrow_forward", color: "gradient"} )

		.form-elements__block.block
			div(class = "field_bigMargin")
				.title-margin 
					+elem-title("checkbox buttons")
				+checkbox-expanded({name: "amenities", label_additional_class: "", label_texts: ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"], isExpandable: false})
			div(class = "field_bigMargin")
				.title-margin 
					+elem-title("radio buttons")
				.radio-list
					+radio-items("Мужчина", "Женщина")
			div(class = "field_bigMargin")
				.title-margin 
					+elem-title("toggle")
				.spec-offer
					.checkbox-offer__label
						+checkbox-offer("checked")
					.checkbox-offer__label
						+checkbox-offer("")
			div(class = "field_bigMargin")
				.title-margin 
					+elem-title("like button")
				br
				.like-buttons
					+like-button(2, "", "favorite_border")
					+like-button(12, "like-button_marked", "favorite")
			div(class = "field_bigMargin")
				.title-margin 
					+elem-title("rate button")
				br
				.rate-buttons
					.rate-buttons_left
						+rate-buttons({marked_count: 4})
					.rate-buttons_right
						+rate-buttons({marked_count: 5})

		.block
			.field_bigMargin
				.range-slider
					div(class="range-slider__title slider-title")
						+elem-title("range slider")
						span.slider-title__values 5 000 &#8381; - 10 000 &#8381;
					.range-slider__content
						+range-slider
			.buttons
				.title-margin 
					+elem-title("buttons")
				.buttons-main
					.buttons-main__row.buttons-flex
						+button({text: 'click me', type: 'filled', size: 'small'})
						+button({text: 'click me', type: 'filled', size: 'small', isHovered: true})
					.buttons-main__row.buttons-flex
						+button({text: 'click me', type: 'transp', size: 'small'})
						+button({text: 'click me', type: 'transp', size: 'small', isHovered: true})
					.buttons-main__row
						+button({text: 'click me', type: 'wthBoder'})
						+button({text: 'click me', type: 'wthBoder', isHovered: true})
					.field_bigMargin
						+button({text: 'перейти к оплате', type: 'filled', size: 'big'})
						+arrow({ name: "arrow_forward", color: "white"})
				.title-margin 
					+elem-title("pagination")
			.form-elements__pagination
				+pagination

		.block
			.block-with-pad
				div(class = "select-wrap field_smallMargin" )
					+elem-title("dropdown")
					+dropdown({label_wrap: "field_mid", label_text: "2 спальни, 2 кровати...", list_name: "amenities-list"})
					+arrow({ name: "keyboard_arrow_down", color: "black"})
				div(class = "select-wrap")
					+elem-title("dropdown")
					+dropdown-expanded({label_text: "2 спальни, 2 кровати...", label_wrap: "field_mid", label_id: "amenities-label", list_name: "amenities-list", number_values: [2, 2, 0], option_texts: ["спальни", "кровати", "ванные комнаты"]})
				div(class = "select-wrap checkboxes block__checkboxes")
					+elem-title("expandable checkbox list")
					+arrow({ name: "keyboard_arrow_down", color: "black"})
				div(class = "field_bigMargin checkboxes block__checkboxes-expanded")
					+checkbox-expandable({label_text: "expandable checkbox list"})
                    
		.block.form-elements__block
			.block-with-pad
				div(class = "select-wrap block__select-guests select-expanded")
					+elem-title("dropdown")
					+dropdown-expanded({label_text: "Сколько гостей", label_wrap: "field_big", label_id: "guests-label_default", list_name: "guests-list_default", number_values: [0, 0, 0], option_texts: ["взрослые", "дети", "младенцы"]})
				div(class="block__rich-checkbox")
					.title-margin
						+elem-title("rich checkbox buttons")
					+checkbox-expanded({name: "accessibility", label_additional_class: "label-access", label_texts: ["Широкий коридор", "Помощник для инвалидов"], isExpandable: false, richCheckboxContent: ["Ширина коридоров в номере не менее 91 см", "На 1 этаже вас встретит специалист и проводит до номера"]})
		
		.block
			.block-with-pad
				div(class = "select-wrap block__select-guests select-expanded")
					+elem-title("dropdown")
					+dropdown-expanded({label_text: "3 гостя", label_wrap: "field_big", label_id: "guests-label",list_name: "guests-list", number_values: [2, 1, 0], option_texts: ["взрослые", "дети", "младенцы"]})
				div(class="block__bullet-list")
					.title-margin
						+elem-title("bullet-list")
					+bullet-list({texts:["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия - после 13.00, а выезд - до 12.00"]})
			
		
		.block
			div(class="number-info")
				+number-info__item({pic_text: "insert_emoticon", title: "Комфорт", text: "Шумопоглащающие стены"})
				+number-info__item({pic_text: "location_city", title: "Удобство", text: "Окно в каждой из спален"})         
		
		.block.form-elements__block.block-with-two-cols
			.comments
				+comments-item({img_name: "image1", like_value: 12, btn_class: "marked", icon_name: "favorite", username: "Мурад Сарафанов", date: "5 дней назад", comment_text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару - никто не жаловался из соседей"})
