extends ../main/main

include ../../components/arrow/arrow
include ../../components/checkbox-expandable/checkbox-expandable 
include ../../components/checkbox-expanded/checkbox-expanded 
include ../../components/comments-item/comments-item 
include ../../components/dropdown/dropdown
include ../../components/dropdown-expanded/dropdown-expanded
include ../../components/elem-title/elem-title 
include ../../components/like-button/like-button 
include ../../components/logo/logo
include ../../components/number-info__item/number-info__item
include ../../components/radio-items/radio-items 
include ../../components/rate-buttons/rate-buttons 
include ../../components/text-field/text-field
include ../../components/checkbox-offer/checkbox-offer
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/bullet-list/bullet-list


block title 
  | Form Elements

block content  
  section.form-elements
    +logo({imgType: 'pages'})
    .block
      div(class="field_smallMargin")
        +elem-title("text field", "pp-text-field-title")
        +text-field({type: "email", input_class: "input", placeholder_text: "Email"})
      div(class="field_smallMargin pp-textField-bottomMargin")
        +elem-title("text field", "pp-add-spacing")
        +text-field({type: "email", input_class: "input input_hover", placeholder_text: "This is pretty awesome"})
      div(class = "field_smallMargin pp-dropdown-bottomMargin" )
        +elem-title("dropdown", "pp-range-slider-title")
        +dropdown({label_wrap: "field_big", label_text: "Сколько гостей", list_name: "guests-list"})
      div(class="field_bigMargin")
        +elem-title("masked text field", "pp-add-spacing")
        +text-field({type: "text", input_class: "input input_masked", placeholder_text: "ДД.ММ.ГГГГ"})
      div(class = "select-wrap pp-date-dropdown-margin field_rightMargin")
        +elem-title("date dropdown", "pp-date-dropdown")
        +dropdown({label_wrap: "field_small dropdownSelect-wtht-pad", label_text: "ДД.ММ.ГГГГ", list_name: "date-list"})
      div(class = "select-wrap pp-date-dropdown-margin")
        +elem-title("date dropdown", "pp-date-dropdown")
        +dropdown({label_wrap: "field_small dropdownSelect-wtht-pad", label_text: "19.08.2019", list_name: "date-list"})
      div(class = "select-wrap field_bigMargin")
        +elem-title("filter date dropdown", "pp-add-spacing")
        +dropdown({label_wrap: "field_mid dropdownSelect-wtht-pad", label_text: "19 авг - 23 авг", list_name: "date-list"})
      div(class="subscription-wrap")
        +elem-title("subscription text field", "pp-add-spacing block__subscription-title")
        +text-field({type: "email", input_class: "input input-subscription block__pp-negative-margin", placeholder_text: "Email"})
        +arrow({ name: "arrow_forward", color: "gradient"} )

    .form-elements__block.block
      div(class = "field_bigMargin checkboxes-buttons")
        .title-margin.pp-checkbox-buttons-margin
          +elem-title("checkbox buttons", "pp-checkbox-buttons-title")
        +checkbox-expanded({name: "amenities", label_additional_class: "", label_texts: ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"], isExpandable: false})
      div(class = "field_bigMargin pp-radio-buttons-margin")
        .title-margin.pp-radio-buttons-title-margin
          +elem-title("radio buttons", "pp-add-spacing")
        .form-elements__radio-list
          +radio-items("Мужчина", "Женщина")
      div(class = "field_bigMargin pp-toggle-margin")
        .title-margin.pp-toggle-title-margin
          +elem-title("toggle", "pp-add-spacing")
        .spec-offer
          .checkbox-offer__label
            +checkbox-offer("checked")
          .checkbox-offer__label
            +checkbox-offer("")
      div(class = "field_bigMargin pp-like-buttons-margin")
        .title-margin.block__like-button
          +elem-title("like button", "pp-buttons-title")
        .like-buttons
          +like-button({value: 2, btn_class: "", icon_name: "favorite_border"})
          +like-button({value: 12, btn_class: "like-button_marked", icon_name: "favorite"})
      div(class = "field_bigMargin")
        .title-margin.pp-rate-button-title-margin
          +elem-title("rate button", "pp-buttons-title")
        .rate-buttons
          .rate-buttons_left
            +rate-buttons({marked_count: 4})
          .rate-buttons_right
            +rate-buttons({marked_count: 5})

    .block
      .block__pp-bigMargin
        .range-slider
          div(class="range-slider__title slider-title")
            +elem-title("range slider", "pp-range-slider-title")
            span.slider-title__values#amount 5 000 &#8381; - 10 000 &#8381;
          .range-slider__content
            +range-slider
      .buttons
        .title-margin 
          +elem-title("buttons")
        .buttons-main
          .buttons-main__row.buttons-flex
            +button({text: "click me", type: "filled", size: "small"})
            +button({text: "click me", type: "filled", size: "small", isHovered: true})
          .buttons-main__row.buttons-flex
            +button({text: "click me", type: 'transp', size: "small"})
            +button({text: "click me", type: 'transp', size: "small", isHovered: true})
          .buttons-main__row
            +button({text: "click me", type: "wthBoder"})
            +button({text: "click me", type: "wthBoder", isHovered: true})
          .field_bigMargin
            +button({text: 'перейти к оплате', type: "filled", size: "big"})
      .title-margin.pp-title-margin-pagination
        +elem-title("pagination")
      .form-elements__pagination
        +pagination

    .block
      .block-with-dropdowns
        div(class = "select-wrap block__pp-smallMargin block__pp-negative-margin" )
          +elem-title("dropdown", "pp-dropdown-title")
          +dropdown({label_wrap: "field_mid pp-dropdown-select", label_text: "2 спальни, 2 кровати...", list_name: "amenities-list"})
        div(class = "select-wrap block__pp-negative-margin")
          +elem-title("dropdown", "pp-dropdown-title2")
          +dropdown-expanded({label_text: "2 спальни, 2 кровати...", label_wrap: "field_mid", label_id: "amenities-label", list_name: "amenities-list", number_values: [2, 2, 0], option_texts: ["спальни", "кровати", "ванные комнаты"], isOpened: true})
        div(class = "select-wrap checkboxes block__checkboxes")
          +elem-title("expandable checkbox list", "pp-checkbox-list-title")
          +arrow({ name: "keyboard_arrow_down", color: "black"})
        div(class = "block__pp-midMargin checkboxes block__checkboxes-expanded block__pp-negative-margin")
          +checkbox-expandable({label_text: "expandable checkbox list", add_class: "pp-add-spacing", isChecked: true})
    .block.form-elements__block
      .block-with-pad
        div(class = "select-wrap block__select-guests select-expanded")
          +elem-title("dropdown", "pp-dropdown-title1")
          +dropdown-expanded({label_text: "Сколько гостей", label_wrap: "field_big", label_id: "guests-label_default", list_name: "guests-list_default pp-buttons-title", number_values: [0, 0, 0], option_texts: ["взрослые", "дети", "младенцы"], isOpened: true})
        div(class="block__rich-checkbox")
          .title-margin
            +elem-title("rich checkbox buttons", "pp-buttons-title")
          +checkbox-expanded({name: "accessibility", label_additional_class: "label-access", label_texts: ["Широкий коридор", "Помощник для инвалидов"], isExpandable: false, richCheckboxContent: ["Ширина коридоров в номере не менее 91 см", "На 1 этаже вас встретит специалист и проводит до номера"]})
    
    .block
      .block-with-pad
        div(class = "select-wrap block__select-guests select-expanded")
          +elem-title("dropdown")
          +dropdown-expanded({label_text: "3 гостя", label_wrap: "field_big", label_id: "guests-label",list_name: "guests-list", number_values: [2, 1, 0], option_texts: ["взрослые", "дети", "младенцы"], isOpened: true})
        div(class="block__bullet-list")
          .title-margin.pp-bullet-title-margin
            +elem-title("bullet list", "pp-bullet-title")
          +bullet-list({texts:["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия - после 13.00, а выезд - до 12.00"]})
      
    
    .block
      div(class="number-info")
        +number-info__item({pic_text: "insert_emoticon", title: "Комфорт", text: "Шумопоглащающие стены"})
        +number-info__item({pic_text: "location_city", title: "Удобство", text: "Окно в каждой из спален"})         
    
    .block.form-elements__block.block-with-two-cols
      .comments
        +comments-item({img_name: "user-image1", like_value: 12, btn_class: "marked", icon_name: "favorite", username: "Мурад Сарафанов", date: "5 дней назад", comment_text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару - никто не жаловался из соседей"})
