@import "../../styles/vars";
@import "../../styles/mixins";
@import "../../styles/fonts";

body {
  width: 100%;
}

.form-elements {
  display: grid;
  grid-template-columns: 320px 374px 1fr;
  grid-template-rows: repeat(3,auto);
  column-gap: 72px;
  padding-top: 144px;
  padding-left: 140px;
  padding-right: 141px;
  & .logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
}

.form-elements__block {
  margin-left: 55px;
}

.pp__dropdown-class {
  font-size: 10px;
  letter-spacing: 1.8px;
  line-height: 14px;
}

.block-with-two-cols {
  grid-column: 2 / span 2;
  padding-top: 9px;
}  

.block-with-pad {
  padding-top: 100px;
}

.input_subscription+.arrow {
  top: 20px;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}    

.block__checkboxes {
  margin-top: 173px;
}

.checkboxes .arrow {
  top: -15px;
}

.block__checkboxes-expanded {
  margin-top: 45px;
  height: 274px;
  display: inline-block;
}

.number-content {
    padding-left: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $shade75-color;

    &__title {
      font-family: 'Montserrat-Bold';
    }
}

  .spec-offer {
    max-width: 270px;
  }
  
  .like-buttons {
    width: 90px;
    display: flex;
    justify-content: space-between;
  }  

  .block__select-guests {
    margin-bottom: 98px;
  }

  .block__rich-checkbox {
    margin-top: 159px;
    & .checkboxes-content__item {
      margin-bottom: 11px;
    }
  } 

  .range-slider__title {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 23px;
  }

  .buttons-main {
    width: 218px;
  }

  .buttons-main__row {    
    margin-bottom: 30px;
  }

  .buttons-flex {
    display: flex;
    justify-content: space-between;
  }

  .form-elements__pagination {
    position: relative;
    margin-bottom: 10px;
    width: 242px;
  }  

  .block__bullet-list {
    margin-top: 168px;
  }

  .block__like-button {
    margin-bottom: 14px;
  }