@import "../../styles/vars";
@import "../../styles/mixins";
@import "../../styles/fonts";

body {
  width: 100%;
}

.form-elements {
  display: grid;
  grid-template-columns: 320px 374px 1fr;
  grid-template-rows: repeat(3,auto);
  column-gap: 72px;
  padding-top: 144px;
  padding-left: 141px;
  padding-right: 141px;
  & .logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
}

.form-elements__block {
  margin-left: 54px;
}

.block-with-two-cols {
  grid-column: 2 / span 2;
  padding-top: 9px;
}  

.block-with-pad {
  padding-top: 101px;
}

.block-with-dropdowns {
  padding-top: 101px;  
}

.pp-date-dropdown-margin {
  margin-bottom: 41px;
}

.subscription-wrap {
  position: relative;
  display: inline-block;
}

.subscription-wrap .arrow {
  top: 20px;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}    

.block__checkboxes {
  margin-top: 173px;
}

.checkboxes .arrow {
  top: -15px;
}

.block__checkboxes-expanded {
  margin-top: 45px;
  height: 274px;
  display: inline-block;
}

.block__pp-negative-margin {
  margin-left: -1px;
}

.block__pp-smallMargin {
  margin-bottom: 21px;
}

.block__pp-midMargin {
  margin-bottom: 28px;
  position: relative;
}

.block__pp-bigMargin {
  margin-bottom: 41px;
  position: relative;
}

.block__subscription-title {
  margin-bottom: 4px;
}

.spec-offer {
  max-width: 270px;
}

.like-buttons {
  width: 90px;
  display: flex;
  justify-content: space-between;
}  

.block__select-guests {
  margin-bottom: 98px;
}

.block__rich-checkbox {
  margin-top: 159px;  
}

.range-slider__title {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 19px;
}

.buttons {
  padding-top: 3px;
}

.buttons-main {
  margin-top: -1px;
}

.buttons-main__row {
  margin-bottom: 30px;
  padding-left: 1px;
}

.buttons-main__row:nth-child(2) {
  margin-bottom: 28px;
}

.buttons-main__row:nth-child(3) {
  padding-left: 0;
  margin-bottom: 29px;
}

.buttons-main__row:first-child button,
.buttons-main__row .transp-wrap:first-child {
  margin-right: 19px;
}

.buttons-flex {
  display: flex;
  justify-content: flex-start;
}

.form-elements__pagination {
  position: relative;
  margin-bottom: 10px;
  width: 242px;
}

.pp-title-margin-pagination {
  margin-bottom: 15px;
  padding-left: 1px;
}

.block__bullet-list {
  margin-top: 159px;
}

.block__like-button {
  margin-bottom: 15px;
}

.pp-checkbox-buttons-margin {
  margin-bottom: 17px;
}

.pp-radio-buttons-margin {
  margin-bottom: 43px;
}

.pp-radio-buttons-title-margin {
  margin-bottom: 15px;
}

.pp-toggle-title-margin {
  margin-bottom: 14px;
}

.pp-toggle-margin {
  margin-bottom: 39px;
}

.pp-like-buttons-margin {
  margin-bottom: 41px;
}

.pp-rate-button-title-margin {
  margin-bottom: 17px;
}

.pp-bullet-title-margin {
  margin-bottom: 13px;
}