@import "../../styles/vars";
@import "../../styles/mixins";
@import "../../styles/fonts";

.colors-and-types{
  width: 1440px;
  margin: 0 auto;
  padding-top: 145px;
  padding-left: 150px;
  padding-right: 190px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.colors-list {
  font-family: "Quicksand-Bold";
  text-transform: capitalize;
}

.colors-list__item { 
  margin-bottom: 20px;  
}

.types-list__item {
  margin-bottom: 50px;  
}

.form-elements {
  display: grid;
  grid-template-columns: 320px 374px 1fr;
  grid-template-rows: repeat(3,auto);
  column-gap: 72px;
  padding-top: 143px;
  padding-left: 141px;
  padding-right: 141px;
}

.form-elements__block {
  margin-left: 54px;
}

.block-with-two-cols {
  grid-column: 2 / span 2;
  padding-top: 10px;
}

.field_smallMargin {
  margin-bottom: $marginSmall;
  position: relative;
  display: inline-block;
}

.field_bigMargin {
  margin-bottom: $marginBig;
  display: inline-block;
  position: relative;
}

.select-wrap {
  position: relative;
  display: inline-block;
}
  
  .field_rightMargin {
    margin-right: 20px;
  }   

  .field_small {
    @include size(150px, 44px);
  }

  .field_mid {
    @include size(266px, 44px);
    position: relative;
  }

  .field_big {
    @include size(320px, 44px);    
  }  

  .block-with-pad {
    padding-top: 100px;
  }
  
  input[type="checkbox"], input[type="radio"] {
    display: none;
  }    

  .block__checkboxes {
    margin-top: 184px;
  }

  .checkboxes .arrow {
    top: -15px;
  }

  .block__checkboxes-expanded {
    margin-top: 49px;
    height: 274px;
  }

  .block__checkboxes-expanded .arrow {
    top: -8px;
  }

  .title-margin {
    margin-bottom: 16px;
    display: inline-block;
    width: 100%;
  }

.number-content {
    padding-left: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $shade75-color;

    &__title {    
        font-family: "Montserrat-Bold";
    }
}

  .spec-offer {    
    max-width: 270px;
  } 

  .like-buttons {
    width: 90px;
    display: flex;
    justify-content: space-between;
  }
  

  .block__select-guests {
    margin-bottom: 98px;
  }

  .block__rich-checkbox {
    margin-top: 168px;
  } 

  .range-slider__title {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 23px;
  }

  .buttons-main {
    width: 218px;
  }

  .buttons-main__row {    
    margin-bottom: 30px;
  }

  .buttons-flex {
    display: flex;
    justify-content: space-between;
  }

  .pagination {
    position: relative;
    margin-bottom: 10px;
    width: 242px;
  }

  .pagination-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 5px;
  }

  .block__bullet-list {
    margin-top: 168px;
  }