//-
  options.name - checkbox name
  options.label_additional_class - дополнительный класс label ('label-access', '')
  options.label_texts - массив с пунктами списка 
  options.isExpandable - список чекбоксов сворачивается или нет (bool)
  options.richCheckboxContent - массив с дополнительными параметрами для rich checkbox

  
mixin checkbox-expanded(options)
  if !options
    - options = {}
  -
    var classes = '';

    if(options.isExpandable)
      classes += " checkbox-expandable";

  div.checkboxes-content(class=classes)
    each label_text, index in options.label_texts
      .checkboxes-content__item.content-item
        input(type="checkbox" id="checkbox_" + options.name + "_" + index name= options.name value= options.label_text)
        label(for="checkbox_" + options.name + "_" + index class="checkboxes-label " + options.label_additional_class) #{label_text}
        if options.name === "accessibility"
          div.content-item__descr.descr= options.richCheckboxContent[index]