//-
  options.name - checkbox name
  options.label_additional_class - дополнительный класс label ('label-access', '')
  options.label_texts - массив с пунктами списка 
  options.isExpandable - список чекбоксов сворачивается или нет (bool)

  
mixin checkbox-expanded(name, label_additional_class="", ...label_texts)

    if !options
        - options = {}
    -
        var classes = '';
        classes += options.type ? ' button_' + options.type : '';
        classes += options.size ? ' button_' + options.size : '';
        classes += options.isHovered ? ' button_hovered' : '';

    -
        var contentForRichCheckbox = [
            "Ширина коридоров в номере не менее 91 см",
            "На 1 этаже вас встретит специалист и проводит до номера"
        ];    
    .checkboxes-content
        each label_text, index in label_texts
            .checkboxes-content__item
                input(type="checkbox" id="checkbox_" + name + "_" + index name= name value=label_text)
                label(for="checkbox_" + name + "_" + index class="checkboxes-label " + label_additional_class) #{label_text}
                if name === "accessibility"
                    div.label-descr= contentForRichCheckbox[index] 