@import '../../styles/vars';
@import '../../styles/mixins';
@import '../../styles/fonts';

.checkboxes {
  width: 266px;
}

.checkboxes-content {
  width: 266px;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: $shade50-color;
  z-index: 100;
  padding-right: 5px;
}

.checkbox-buttons {
  width: 251px;
}

.checkbox-expandable {
  position: absolute;
  top: -10000px;
  background: #fff;
}

.checkbox-expandable {
  & .checkboxes-content__item:first-child {
    line-height: 17px;
    margin-bottom: 13px;
    font-size: 13px;
    letter-spacing: .5px;
  }
  & .checkboxes-content__item:nth-child(2) {
    font-size: 12px;
    letter-spacing: 1.9px;
    margin-bottom: 11px;
    line-height: 19px;
  }
  & .checkboxes-content__item:nth-child(3) {
    margin-bottom: 9px;
    line-height: 21px;
  }
  & .checkboxes-content__item:nth-child(4) {
    margin-bottom: 12.5px;
  }
  & .checkboxes-content__item:nth-child(5) {
    margin-bottom: 12.5px;
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  & .checkboxes-content__item:nth-child(6) {
    margin-bottom: 11px;
  }
  & .checkboxes-content__item:nth-child(7) {
    margin-bottom: 12px;
  }
}

.checkboxes-buttons {
  & .checkboxes-content {
    max-width: 240px;
  }  
  & .checkboxes-content__item {
    margin-bottom: 12px;
  }
}

.content-item {
  position: relative;
  padding-left: 30px;
}

.content-item:first-child .descr {
  max-width: 205px;
}

.checkboxes-label::before {
  content: '';
  position: absolute;
  @include size(20px);
  border: 1px solid $shade25-color;
  border-radius: 4px;
  left: 0;
  top: -1px;
}

input[id^='checkbox']:checked + label::after {
  content: '';
  @include size(8px, 6px);
  transform: rotate(-45deg);
  border-left: 1px solid $purple-color;
  border-bottom: 1px solid $purple-color;
  position: absolute;
  left: 6px;
  top: 5px;
}

.rich-checkbox .checkboxes-content__item {
  margin-bottom: 10px;
}

.content-item__descr {
  margin-top: 6px;
}

.content-item:last-child .access-descr {
  width: 225px;
}

.access-descr {
  font-size: 12px;
  line-height: 14px;
  color: $shade50-color;
  width: 205px;
  letter-spacing: 0px;
}

.label-access {
  font-family: 'Montserrat-Bold';
  color: $shade75-color;
  font-size: 12px;
  letter-spacing: 1.4px;
}