@import '../../styles/vars';
@import '../../styles/mixins';

.range-slider {
  width: 266px;
  & .range-slider__descr{
    margin-top: 16px;
  }
}

#slider-range {
  @include size(266px, 6px);
  background: #FFFFFF;
  border: 1px solid $shade25-color;
  box-sizing: border-box;
  border-radius: 3px;   

  & .ui-slider-range {
    height: 5px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    top: -1px;
  }

  & .ui-slider-handle {
    @include size(15px);
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    top: -6px;
    outline: none;
  }
}

.slider-title__values {
  letter-spacing: -.4px;
  font-size: 12px;
  line-height: 14px;
}


