extends ../main/main

include ../../components/header/header
include ../../components/form-registration/form-registration
include ../../components/footer/footer

block title 
  | Registration

block header
  +header({isAuth: false,
    isRus: true,
    listItems: ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"],
    links: ["/change/me", "/change/me", "/change/me", "/change/me", "/change/me"],
    adds: ["", "expandable", "", "", "expandable"],
    loginText: "войти",
    regText: "зарегистрироваться"
  })
block content
  section.registration-page
    .registration-page__content
      .registration-content
        .content__card.card
          +form-registration
        
block footer
  +footer({
    isRus: true,
    logoText: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
    navItems: ["Навигация", "О нас", "Новости", "Служба поддержки", "Услуги"],
    navLinks: ["/change/me", "/change/me", "/change/me", "/change/me", "/change/me"],
    aboutItems: ["О нас", "О сервисе", "Наша команда", "Вакансии", "Инвесторы"],
    aboutLinks: ["/change/me", "/change/me", "/change/me", "/change/me", "/change/me"],
    supportItems: ["Служба поддержки", "Соглашения", "Сообщества", "Связь с нами"],
    supportLinks: ["/change/me", "/change/me", "/change/me", "/change/me"],
    subscrTitle: "Подписка",
    subscrText: "Получайте специальные предложения и новости сервиса",
    copyrightText: "Copyright &#169; 2018 Toxin отель. Все права защищены"
  })