@import '../../styles/vars';
@import '../../styles/mixins';
@import '../../styles/fonts';

.input {
  @include size(320px, 44px);
  background: #FFFFFF;
  border: 1px solid $shade25-color;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-appearance: none;
  outline: 0;
  box-shadow: none;
  padding-left: 14px;
  font-family: $mainFont;
  @media screen and (max-width: 420px) {
    width: 100%;
  }
}
  
.input::placeholder {
  font-size: 13px;
  line-height: 20px;
  font-family: $mainFont;
  color: $shade25-color;
}
  
.input_hover {
  border: 1px solid $shade50-color;
}

.input_hover::-webkit-input-placeholder {
  color: $shade75-color;
  letter-spacing: -.2px;
  font-size: 14px;
}
.input_hover:-moz-placeholder {
  color: $shade75-color;
  letter-spacing: -.2px;
  font-size: 14px;
}

.input-subscription::-webkit-input-placeholder {
  font-size: 15px;
  letter-spacing: -.4px;
}

.input-subscription:-moz-placeholder {
  font-size: 15px;
  letter-spacing: -.4px;
}

.input-subscription {
  @include size(266px, 44px);
  background: transparent;
}

.subscription-text-field {
  margin-bottom: 3px;
}

.input_date {
  width: 150px;
}

.booking-arrival::-webkit-input-placeholder,
.booking-departure::-webkit-input-placeholder {
  font-size: 14px;
}

.booking-arrival::-moz-placeholder,
.booking-departure::-moz-placeholder {
  font-size: 14px;
}