//-
  options.type (string) - input type
  options.input_class (string) - input class ('block__input', 'block__input_hover', 'block__input_subscrition')
  options.placeholder_text (string) - placeholder text

mixin text-field(options)  
  input(type=options.type, class=options.input_class, placeholder=options.placeholder_text)