@import "../../styles/fonts";

.colors-and-types {
  margin: 0 auto;
  padding-top: 145px;
  padding-left: 150px;
  padding-right: 190px;
  position: relative;
  display: flex;
  justify-content: space-between;

  & .logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
}

.colors-list {
  font-family: "Quicksand-Bold", Opensans;
  text-transform: capitalize;
}

.colors-list__item {
  margin-bottom: 20px;
}

.types-list__item {
  margin-bottom: 50px;
}

.types-list__item:nth-child(3) {
  margin-bottom: 47px;
}