@import '../../styles/vars';
@import '../../styles/mixins';

.number-info-item {
  display: flex;
  justify-content: flex-start;
  width: 280px;    
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  padding-bottom: 19px;
  padding-top: 20px;   

  &-wrap {
    margin-bottom: 23px;
  }

  &__pic {
    @include size(48px);
    color: $purple-color;
    margin-top: -.5px;
    margin-left: -1px;
  }
}

.number-content {
  padding-left: 10px;
  font-size: 14px;
  line-height: 24px;
  color: $shade75-color;

  &__title {
    font-family: 'Montserrat-Bold';
    font-size: 13px;
    line-height: 25px;
    letter-spacing: .9px;
  }
}

.face {
  font-size: 48px;
}

