include ../arrow/arrow
include ../checkbox-expanded/checkbox-expanded

mixin checkbox-expandable()
    .title-margin    
        label(for="expandableCheckboxTitle" class="elem-title") expandable checkbox list
        input(type="checkbox" id="expandableCheckboxTitle")
        +arrow({ name: "keyboard_arrow_down", color: "black"})
    +checkbox-expanded("additional-amenities", "", "Завтрак", "Писменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь", "Телевизор", "Шампунь")