//montserrat

@font-face {
  font-family: Montserrat;
  src: url('../../assets/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
    url('../../assets/fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
    url('../../assets/fonts/Montserrat-Regular/Montserrat-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../assets/fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
    url('../../assets/fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
    url('../../assets/fonts/Montserrat-Bold/Montserrat-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Quicksand-Bold';
  src: url('../../assets/fonts/Quicksand-Bold/Quicksand-Bold.woff') format('woff'),
    url('../../assets/fonts/Quicksand-Bold/Quicksand-Bold.ttf') format('truetype'),
    url('../../assets/fonts/Quicksand-Bold/Quicksand-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../../assets/fonts/Quicksand-Regular/Quicksand-Regular.woff') format('woff'),
    url('../../assets/fonts/Quicksand-Regular/Quicksand-Regular.ttf') format('truetype'),
    url('../../assets/fonts/Quicksand-Regular/Quicksand-Regular.svg') format('svg');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../../assets/fonts/OpenSans-Bold/OpenSans-Bold.woff') format('woff'),
    url('../../assets/fonts/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype'),
    url('../../assets/fonts/OpenSans-Bold/OpenSans-Bold.eot') format('eot');
}

