@import "vars";

html {  
  height: 100%;
  max-width: 1440px;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, div { margin: 0; }

a { text-decoration: none; }

ul, li, input {
  margin: 0;
  padding: 0;
  list-style-type: none;
}