@import "vars";
@import "mixins";

html {  
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, div { margin: 0; }

a { text-decoration: none; }

ul, li, input {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.field_smallMargin {
  margin-bottom: $marginSmall;
  position: relative;
}

.field_midMargin {
  margin-bottom: $marginMid;
  position: relative;
}

.field_bigMargin {
  margin-bottom: $marginBig;
  position: relative;
}

.select-wrap {
  position: relative;
}

.field_rightMargin {
  margin-right: 20px;
}

.title-margin {
  margin-bottom: 16px;
  width: 100%;
}

.field_small {
  @include size(150px, 44px);
  position: relative;
}

.field_mid {
  @include size(266px, 44px);
  position: relative;
}

.field_big {
  @include size(320px, 44px);
  position: relative;
  @media screen and (max-width: 420px) {
    width: 90%;
  }
}