@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}



*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// section, .section {
//   position: relative;
//   padding: 40px 0;
//   @media screen and (max-width: $desktopWidth) {
//     padding: 36px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 28px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 20px 0;
//   }
// }

.logo {
  position: absolute;
  @include size(48px);
  left: 30px;
  top: 30px;
}

.page-section_colors {
  width: 1440px;
  margin: 0 auto;
  padding-top: 145px;
  padding-left: 150px;
  padding-right: 190px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.colors-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 19px;
  line-height: 29px;
}

.colors-list {
  font-family: "Quicksand-Bold";
  text-transform: capitalize;
}

.colors-list__content {
  font-family: "Quicksand-Regular";
}

.colors-list__image {
  @include size(70px);
  margin-right: 40px;
  display: inline-block;
  border-radius: 6px;
}

.colors-list__image_shade100 {
  background-color: $shade100-color;
}
.colors-list__image_shade75 {
  background-color: $shade75-color;
}
.colors-list__image_shade50 {
  background-color: $shade50-color;
}
.colors-list__image_shade25 {
  background-color: $shade25-color;
}
.colors-list__image_shade5 {
  background-color: $shade100-color;
}
.colors-list__image_purple {
  background-color: $purple-color;
}
.colors-list__image_green {  
  background-color: $green-color;
}

.type-list__item {
  margin-bottom: 50px;  
}

.type-list__item div:first-child {
  display: flex;
  align-items: top;
}

.type-list__item_left {
  margin-right: 30px;
  text-transform: uppercase;
  color: $shade25-color;
}

.type-list__item_h1 {
  font-size: 24px;
  line-height: 29px;
  .type-list__item_right {
    font-family: "Quicksand-Bold";
    max-width: 336px;
    line-height: 30px;
  }
}

.type-list__item_h2 {
  font-size: 19px;
  line-height: 23px;
  .type-list__item_right {
    font-family: "Quicksand-Bold";
    max-width: 282px;
    line-height: 24px;
  }
}

.type-list__item_h3 {
  font-size: 12px;
  line-height: 15px;
  .type-list__item_right {
    font-family: "Montserrat-Bold";
  }
}

.type-list__item_body {
  font-size: 14px;
  line-height: 24px;
  .type-list__item_left {
    text-transform: capitalize;
  }  
  .type-list__item_right {
    max-width: 301px;
    color: $shade75-color;
  }
}

.page-section_form {
  padding-top: 143px;
  padding-left: 141px;
  padding-right: 141px;
}

.form-elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,auto);
}

.form-elements__block8 {
  grid-row: span 2;
}

.text-field_smallWrap {
  margin-bottom: $marginSmall;
}

.text-field_bigWrap {
  margin-bottom: $marginBig;
}

.form-element__text {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: $shade100-color;
  font-family: "Montserrat-Bold";
}

.form-element__input {
  @include size(320px, 44px);
  background: #FFFFFF;
  border: 1px solid $shade25-color;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-appearance: none;
  outline: 0;
  box-shadow: none;
  padding-left: 15px;
  font-family: $mainFont;
}

.form-element__input::placeholder {
  font-size: 14px;
  line-height: 18px;
  font-family: $mainFont;
  color: $shade25-color;
}

.form-element__input_hover {
  border: 1px solid $shade50-color;
  line-height: 24px;  
}

.form-element__input_hover::placeholder {
  color: $shade75-color;
}

.select_wrap {
  position: relative;
  display: inline-block;
}

.form-element__select {
  @include size(320px, 44px);
  appearance: none;
  border: 1px solid $shade25-color;
  color: $shade75-color;
  font-size: 14px;
  line-height: 24px;
  outline: none;
  padding-left: 15px;
  font-family: $mainFont;  
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  }

  .arrow_down {
    @include size(44px);
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 0px;
    color: $shade50-color;
  }

  .select_smallWrap {
    margin-bottom: $marginSmall;
  }

  .select_bigWrap {
    margin-bottom: $marginBig;
    display: inline-block;    
  }
  
  .select_leftWrap {
    margin-right: 20px;
  }

  .form-element__input_date {
    border: 1px solid $shade25-color;
  }

  .form-element__input_date::placeholder {
    line-height: 24px;
  }

  .form-element__select_date {
    @include size(150px, 44px);
    line-height: 18px;
  }

  .form-element__select_filter {
    @include size(266px, 44px);
    line-height: 24px;
  }

  .form-element__input_subscrition {
    @include size(266px, 44px);
  }
  
  




