@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}



*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// section, .section {
//   position: relative;
//   padding: 40px 0;
//   @media screen and (max-width: $desktopWidth) {
//     padding: 36px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 28px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 20px 0;
//   }
// }

.logo {
  position: absolute;
  @include size(48px);
  left: 30px;
  top: 30px;
}

.page-section {
  width: 1440px;
  margin: 0 auto;
  padding-top: 145px;
  padding-left: 150px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.colors-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 19px;
  line-height: 29px;
}

.colors-list {
  font-family: "Quicksand-Bold";
  text-transform: capitalize;
}

.colors-list__content {
  font-family: "Quicksand-Regular";
}

.colors-list__image {
  @include size(70px);
  margin-right: 40px;
  display: inline-block;
  border-radius: 6px;
}

.colors-list__image_shade100 {
  background-color: $shade100-color;
}
.colors-list__image_shade75 {
  background-color: $shade75-color;
}
.colors-list__image_shade50 {
  background-color: $shade50-color;
}
.colors-list__image_shade25 {
  background-color: $shade25-color;
}
.colors-list__image_shade5 {
  background-color: $shade100-color;
}
.colors-list__image_purple {
  background-color: $purple-color;
}
.colors-list__image_green {  
  background-color: $green-color;
}

.type-list__item {
  display: flex;
  align-items: top;
  margin-bottom: 50px;  
}

.type-list__item_left {
  margin-right: 30px;
}