@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}



*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, div { margin: 0; }

a { text-decoration: none; }

ul, li, input {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// section, .section {
//   position: relative;
//   padding: 40px 0;
//   @media screen and (max-width: $desktopWidth) {
//     padding: 36px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 28px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 20px 0;
//   }
// }

.logo {
  position: absolute;
  @include size(48px);
  left: 30px;
  top: 30px;
}

.colors-and-types{
  width: 1440px;
  margin: 0 auto;
  padding-top: 145px;
  padding-left: 150px;
  padding-right: 190px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.colors-list {
  font-family: "Quicksand-Bold";
  text-transform: capitalize;
}

.colors-list__item { 
  margin-bottom: 20px;  
}

.color-item {
  display: flex;
  align-items: center;
  font-size: 19px;
  line-height: 29px;
}

.color-item__content {
  font-family: "Quicksand-Regular";
}

.color-item__image {
  @include size(70px);
  margin-right: 40px;
  display: inline-block;
  border-radius: 6px;
}

.color-item__image_shade100 {
  background-color: $shade100-color;
}
.color-item__image_shade75 {
  background-color: $shade75-color;
}
.color-item__image_shade50 {
  background-color: $shade50-color;
}
.color-item__image_shade25 {
  background-color: $shade25-color;
}
.color-item__image_shade5 {
  background-color: $shade100-color;
}
.color-item__image_purple {
  background-color: $purple-color;
}
.color-item__image_green {  
  background-color: $green-color;
}

.types-list__item {
  margin-bottom: 50px;  
}

.types-list__item div:first-child {
  display: flex;
  align-items: top;
}

.type-item__left {
  margin-right: 30px;
  text-transform: uppercase;
  color: $shade25-color;
}

.type-item__h1 {
  font-size: 24px;
  line-height: 29px;
  .type-item__right {
    font-family: "Quicksand-Bold";
    max-width: 336px;
    line-height: 30px;
  }
}

.type-item__h2 {
  font-size: 19px;
  line-height: 23px;
  .type-item__right {
    font-family: "Quicksand-Bold";
    max-width: 282px;
    line-height: 24px;
  }
}

.type-item__h3 {
  font-size: 12px;
  line-height: 15px;
  .type-item__right {
    font-family: "Montserrat-Bold";
  }
}

.type-item__body {
  font-size: 14px;
  line-height: 24px;
  .type-item__left {
    text-transform: capitalize;
  }  
  .type-item__right {
    max-width: 301px;
    color: $shade75-color;
  }
}

.form-elements {
  display: grid;
  grid-template-columns: 320px 374px 1fr;
  grid-template-rows: repeat(3,auto);
  column-gap: 72px;
  padding-top: 143px;
  padding-left: 141px;
  padding-right: 141px;
}

.block-with-two-cols {
  grid-column: 2 / span 2;
  padding-top: 10px;
}

.field_smallMargin {
  margin-bottom: $marginSmall;
  position: relative;
  display: inline-block;
}

.field_bigMargin {
  margin-bottom: $marginBig;
  display: inline-block; 
}

.label-text {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: $shade100-color;
  font-family: "Montserrat-Bold";
}

.block__input {
  @include size(320px, 44px);
  background: #FFFFFF;
  border: 1px solid $shade25-color;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-appearance: none;
  outline: 0;
  box-shadow: none;
  padding-left: 15px;
  font-family: $mainFont;
}

.block__input::placeholder {
  font-size: 14px;
  line-height: 18px;
  font-family: $mainFont;
  color: $shade25-color;
}

.block__input_hover {
  border: 1px solid $shade50-color;
  line-height: 24px;  
}

.block__input_hover::placeholder {
  color: $shade75-color;
}

.select-wrap {
  position: relative;
  display: inline-block;
}

.select {
  @include size(320px, 44px);
  appearance: none;
  border: 1px solid $shade25-color;
  color: $shade75-color;
  font-size: 14px;
  line-height: 24px;
  outline: none;  
  font-family: $mainFont;
  border-radius: 2px;
  display: inline-block; 
  background: transparent; 
}

.select-expanded__label {
  padding-left: 15px;
  display: block;
  border-color: $shade50-color;    
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  line-height: 42px;
  font-size: 14px;
  color: $shade75-color;  
}

.select-expanded__options {
  position: absolute;
  top: 77px;
  margin-top: -8px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  }

  .arrow {
    @include size(44px);
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 0px;
    z-index: -1;
    transition: transform .5s linear; 
  }

  .arrow_down {
    color: $shade50-color;
  }
  
  .field_rightMargin {
    margin-right: 20px;
  }

  .block__input_date {
    border: 1px solid $shade25-color;
  }

  .block__input_date::placeholder {
    line-height: 24px;
  }  

  .field_small {
    @include size(150px, 44px);
  }

  .field_mid {
    @include size(266px, 44px);
  }

  .field_big {
    @include size(320px, 44px);    
  }

  .block__input_subscrition {
    @include size(266px, 44px);
    background: transparent;
  }

  .arrow_forward {
    color: #8BA4F9;
  }

  .block-with-pad {
    padding-top: 100px;
  }
  
  input[type="checkbox"], input[type="radio"] {
    display: none;
  }

  #guests-list:checked + div, #amenities-list:checked + div {
    display: block;
    box-shadow: 0px 10px 20px $shade5-color;
  }

  .options-list {
    padding: 13px 7px 0 15px;
    border: 1px solid $shade50-color;    
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: none;
    display: block;        
    z-index: 100;
    box-shadow: 0px 10px 20px $shade5-color;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: $shade100-color;
    font-family: "Montserrat-Bold";
  }

  .amenities-list {
    @include size(266px, 122px);
  }

  .guests-list {
    width: 320px;
  }

  .option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }

  .options-list__item {
    margin-bottom: 7px;;
  }

  .option-counter {
    display: flex;
    align-items: center;
  } 

  .option-counter__item {
    display: inline-block;
    @include size(30px, 30px);
    border: 1px solid $shade50-color;
    border-radius: 50%;
    color: $shade50-color;
    text-align: center;
    line-height: 30px;
  }

  .option-counter__minus-wrap {
    margin-right: 12px;
  }

  .option-counter__plus-wrap {
    margin-left: 12px;
  }

  .counter-disabled {
    border-color: $shade25-color;
    color: $shade25-color;
  }

  .checkboxes {
    width: 266px;
  }

  .block__checkboxes {
    margin-top: 176px;    
  }

  .checkboxes .arrow {
    top: -8px;
  }

  .block__checkboxes_expanded {
    margin-top: 49px;
  }

  .checkboxes__content {
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: $shade50-color;
    z-index: 100;
  }

  #input-title:checked + div {
    transform: rotate(-180deg);
  }

  #input-title:checked ~ div ~ div {
    display: block;
  }

  .checkboxes__item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
  }

  .checkboxes__label::before {
    content: "";
    position: absolute;
    @include size(20px);
    border: 1px solid $shade25-color;
    border-radius: 4px;
    left: 0;
  }

  input[id^="checkbox"]:checked + label::after {
    content: "";
    @include size(8px, 6px);
    transform: rotate(-45deg);
    border-left: 1px solid $purple-color;
    border-bottom: 1px solid $purple-color;
    position: absolute;
    left: 6px;
    top: 5px;
  }

  .title-margin {
    margin-bottom: 16px;
    display: inline-block;
  }

  .number-information__item {
    display: flex;
    justify-content: flex-start;
    width: 280px;    
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    padding-bottom: 17px;
    margin-bottom: 23px;
  }
  
  .number-information__pic {
    @include size(48px);
    color: $purple-color;
  }

  .face {
    font-size: 48px;
  }

  .number-information__content {
    padding-left: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $shade75-color;
  }

  .number-information__title {    
    font-family: "Montserrat-Bold";
  }

  .form-elements__block {
    margin-left: 54px;
  }

  .radio-list__item {
    position: relative;
    display: inline-block;
    padding-left: 30px;
  }

  .radio-list__item:first-child {
    margin-right: 20px;
  }

  .radio-item__label::before {
    content: "";
    position: absolute;
    @include size(20px);
    border: 1px solid $shade25-color;
    border-radius: 50%;
    left: 0;
    top: 2px;
  }

  input[id^="radio"]:checked + label::after {
    content: "";
    @include size(12px);
    position: absolute;
    left: 4px;
    top: 6px;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

  .spec-offer {
    position: relative;
    max-width: 270px;
  }  

  .spec-offer__label {
    margin-left: 50px;
    margin-bottom: 14px;    
  }

  .offer-label {
    display: inline-block;
    width: 100%;
  }

  .offer-label::before {
    content: "";
    position: absolute;
    @include size(40px, 20px);
    border: 1px solid #BC9CFF;
    border-radius: 10px;
    left: 0;
    top: 2px;
  }

  .offer-label::after {
    content: "";
    @include size(12px);
    position: absolute;
    left: 24px;
    top: 6px;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

  input[id="offer_on"]:checked + label::after {    
    left: 4px;
    background: $shade25-color;
  }

  input[id="offer_on"]:checked + label::before {    
    border: 1px solid $shade25-color;
  }

  .offer-label_off::before {
    top: 42px;
    border-color: $shade25-color;
  }

  .offer-label_off::after {
    background: $shade25-color;
    left: 4px;
    top: 46px;
  }

  .like-buttons {
    width: 90px;
    display: flex;
    justify-content: space-between;
  }

  .like-button {
    @include size(40px, 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $shade25-color;
    border-radius: 10px;
    font-size: 10px;
    line-height: 12px;
    padding-right: 12px;
    padding-left: 4px;
    color: $shade25-color;
  }

  .like-button_marked {
    border: 1px solid $purple-color;
    padding-right: 10px;
    color: $purple-color;    
  }

  .like-button__heart {
    font-size: 10px;    
  }

  .rate-buttons {
    display: flex;
    justify-content: space-between;
  }

  .rate-buttons_left, .rate-buttons_right {
    @include size(120px, 24px);
  }

  .rate-buttons_left {
    display: inline-block;
    margin-right: 20px;
  }

  .rate-buttons__star {
    color: $purple-color;
    line-height: 20px;
    font-size: 24px;
    display: inline-block;
    @include size(24px);
  }  

  .options-list__btns {
    margin-top: 20px;
    margin-bottom: 13px;
  }

  .select-btns {    
    display: flex;
    justify-content: flex-end;
  }

  .select-btns__submit {
    color: $purple-color;    
  }

  .block__select-guests {
    margin-bottom: 98px;
  }

  .rich-checkbox {
    margin-top: 168px;
  }

  .label-descr {
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px;
  }

  .label-access {
    font-family: "Montserrat-Bold";
    color: $shade75-color;
  }

  .comments {
    display: flex;
    justify-content: flex-start;
  }

  .comments__div_left, .comments__div_right {
    display: flex;
    flex-direction: column;
  }

  .comments__div_left {
    align-items: center;
  }

  

  .img_wrap {
    @include size(48px);
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
    margin-bottom: 12px;
  }

  .comments__img {
    position: absolute;
    top: -10px;
  }

  .comments__date {
    margin-bottom: 10px;
  }

  .comments__text {
    width: 653px;
  }

  .range-slider__title {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 15px;
  }


