//-
  options.text - текст кнопки
  options.size - размер ('', 'small', 'big')
  options.type - тип ('fill', 'transp', 'wthBoder')
  options.isHovered - наведение курсора (bool)

include ../arrow/arrow
include ../elem-title/elem-title


mixin dropdown-expanded(label_text, label_wrap, list_name, number_value, ...option_texts)   
        
    div(class="select " + label_wrap)
        label(for= list_name class="select-expanded__label") #{label_text}
    +arrow({ name: "keyboard_arrow_down", color: "black"})
    input(type="checkbox" id= list_name)                
    div(class="select-expanded__options options-list " + list_name)
        each option_text, index in option_texts
            .options-list__item
                .option-item
                    span #{option_text}
                    .option-counter
                        .option-counter__minus-wrap.counter-disabled
                            span.option-counter__item.counter-disabled -
                        span.option-counter__number #{number_value}
                        .option-counter__plus-wrap
                            span.option-counter__item +
        if list_name === "guests-list"
            .options-list__btns
                .select-btns
                    span.select-btns__submit применить
                    span.select-btns__clear очистить