@import '../../styles/vars';
@import '../../styles/mixins';

.select {
  appearance: none;
  border: 1px solid $shade25-color;
  color: $shade75-color;
  font-size: 14px;
  line-height: 24px;
  outline: none;
  font-family: $mainFont;
  border-radius: 2px;
  background: transparent;
  padding-top: 2px;
}

.dropdownSelect-wtht-pad {
  padding-top: 0;
}

.pp-dropdown-select {
  font-size: 12px;
  letter-spacing: 1.1px;
}

.select-expanded__label {
  padding-left: 14px;
  display: block;
  line-height: 37px;
  font-size: 14px;
  color: $shade75-color;
  letter-spacing: 0px;
}

.select-expanded__options {
  position: absolute;
  top: 77px;
  margin-top: -13px;
}

.select-expanded .arrow {
  top: -1px;
}

.select-btns {
  display: flex;
  justify-content: space-between;
}

.select-btns__submit {
  color: $purple-color;
  font-size: 11px;
  letter-spacing: .8px;
}

.options-list__btns {
  margin-top: 21px;
  margin-bottom: 11px;
}

.amenities-list {
  @include size(266px, 117px);
}

.guests-list,
.guests-list_default {
  width: 320px;
  @media screen and (max-width: 420px) {
    width: 90%;
  }
}

.options-list {
  padding: 4px 6px 0 14px;
  border: 1px solid $shade50-color;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: none;
  display: none;
  z-index: 100;
  box-shadow: 0px 10px 20px $shade5-color;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  color: $shade100-color;
  font-family: 'Montserrat-Bold';
}

.option-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  line-height: 30px;
  &>span {
    font-size: 11px;
    letter-spacing: .9px;
  }
}

.options-list__item {
  margin-bottom: 7px;
}

.option-counter {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  & .plus {
    line-height: 26px;
  }
}

.options-list__item:nth-child(3) .option-counter {
  top: 1px;
}

.option-counter__item {
  display: inline-block;
  @include size(30px, 30px);
  border: 1px solid $shade50-color;
  border-radius: 50%;
  color: $shade50-color;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  user-select: none;
  margin-top: 1px;
}

.option-counter__number {
  display: inline-block;
  width: 32px;
  text-align: center;
  user-select: none;
  font-size: 13px;
  line-height: 31px;
}

.counter_disabled {
  border-color: $shade5-color;
  color: $shade25-color;
  cursor: not-allowed;
}

span.button_disabled {
  cursor: not-allowed;
}

.select-btns__clear {
  visibility: hidden;
}

.select-btns__clear,
.select-btns__submit {
  cursor: pointer;
}

.open {
  display: block;
}

