include ../like-button/like-button

mixin comments-item(img_name, like_value, btn_class="", icon_name, username, date, text)
    .comments-item
        .comments-item__image.comments-image
            .comments-image__wrap
                img(src="../../assets/img/users/" + img_name + ".svg", class="comments__user-img")
            +like-button(like_value, btn_class="", icon_name)
    .comments-content.number-content
        .comments-content__username.number-content__title #{username}
        .comments-content__date #{date}
        .comments-content__text #{text}