@import '../../styles/vars';
@import '../../styles/mixins';

.comments-content {
  padding-top: 1px;
}

.comments-item {
  display: flex;
  justify-content: flex-start;
}

.comments-image, .comments-content {
  display: flex;
  flex-direction: column;
}

.comments-image {
  align-items: center;
}

.comments-image__wrap {
  @include size(48px);
  overflow: hidden;
  border-radius: 50%;
  position: relative;    
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
  margin-bottom: 13px;
}

.comments__user-img {
  @include size(88px);
  position: absolute;
  top: -10px;
  left: -20px;
}

.comments-content__date {
  margin-bottom: 10px;
  margin-top: -1px;
}

.comments-content__username {
  letter-spacing: .7px;
  font-family: Montserrat-Bold;
  font-size: 13px;
  line-height: 25px;
}